#stage{
  width: 700px;
  height: 700px;
  background-color: red;
  margin: 0 auto;
}

#gameCanvas {
  display: block;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  z-index: 0;
}

#obstaclesCanvas {
  display: block;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

img {
  display: none
}